<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Лексигон</title>
        <link rel="icon" type="image/GIF" href="{{ asset('res/favicon.ico') }}"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="full-screen" content="yes"/>
        <meta name="screen-orientation" content="portrait"/>
        <meta name="x5-fullscreen" content="true"/>
        <meta name="360-fullscreen" content="true"/>
        <style>
            body, canvas, div {
                -moz-user-select: none;
                -webkit-user-select: none;
                -ms-user-select: none;
                -khtml-user-select: none;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                background-color: #202020;
            }
            @font-face {
                font-family: 'Intro';
                font-style: normal;
                font-weight: 400;
                src: local('Intro'), url({{ asset("res/Intro.otf") }}) format("opentype");
            }
            .modal-backdrop {
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 1040;
                background-color: #000000;
            }
            .modal {
                display: block;
                position: fixed;
                top: 50%;
                left: 50%;
                z-index: 1050;
                width: 400px;
                height: 350px;
                margin: -200px 0 0 -175px;
                background-color: #ffffff;
                border: 1px solid #999;
                border: 1px solid rgba(0, 0, 0, 0.3);
                -webkit-border-radius: 6px;
                -moz-border-radius: 6px;
                border-radius: 6px;
                -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
                -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
                box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
                -webkit-background-clip: padding-box;
                -moz-background-clip: padding-box;
                background-clip: padding-box;
                outline: none;
            }
            .modal-backdrop, .modal-backdrop.fade.in {
                opacity: 0.8;
                filter: alpha(opacity=80);
            }
            .modal .close{
                position: absolute;
                top: -12px;
                right: -12px;
                width: 24px;
                height: 24px;
                cursor: pointer;
                background: url("/res/close.png");
            }
        </style>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-56246653-1', 'auto');
            ga('send', 'pageview');

        </script>

        <script src="/empty.js" cocos></script>
        <script src="{{ asset('js/jquery-2.1.1.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </head>
    <body style="padding:0; margin: 0;">
    {% block beforeCanvas %}{% endblock %}
    <canvas id="gameCanvas" width="800" height="700"></canvas>
    {% block afterCanvas %}{% endblock %}
    <script type="application/javascript">
        if (self.parent.frames.length == 0) {
            document.location.href = 'https://vk.com/app4496570';
        }
    </script>
    </body>
</html>
