{% extends '::base.html.twig' %}

{% block javascripts %}
    <script src="//connect.facebook.net/en_US/sdk.js" id="facebook-jssdk" type="text/javascript"></script>
    <script src="{{ asset('js/game-fb-min.js') }}"></script>
    <script type="application/javascript">
        var SignedRequest = "{{ signed_request }}";
    </script>
{% endblock %}

{% block beforeCanvas %}
    <div id="fb-root"></div>
    <div class="fb-like" data-href="https://apps.facebook.com/glexigon/" data-layout="button_count" data-action="recommend" data-show-faces="true" data-share="true" style="margin:5px auto; width:200px;display:block;"></div>
{% endblock %}
