<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Лексигон</title>
    <link rel="icon" type="image/GIF" href="res/favicon.ico"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="full-screen" content="yes"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <meta name="360-fullscreen" content="true"/>
    <style>
        body, canvas, div {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            -khtml-user-select: none;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }
    </style>
</head>
<body style="padding:0; margin: 0; background: #000;">
<canvas id="gameCanvas" width="800" height="700"></canvas>
<script src="//vk.com/js/api/xd_connection.js?2"  type="text/javascript"></script>
<script src="/js/jquery-2.1.1.min.js"></script>
<script src="/js/lexigon-min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/vk.js"></script>

</body>
</html>