{% extends '::base.html.twig' %}

{% block javascripts %}
    <link rel="stylesheet" href="//static79.belkatechnologies.com/born/css/born.css">
    <script type="text/javascript" charset='utf-8' src="//static79.belkatechnologies.com/born/js/born.js"></script>
    <script type="text/javascript" src="//api.ok.ru/js/fapi5.js"></script>
    <script src="{{ asset('js/game-ok-min.js') }}"></script>
{% endblock %}

{% block beforeCanvas %}
    <div id="born-container" class="born-container" style="display: none;">
    </div>
{% endblock beforeCanvas %}

