{% extends '::base.html.twig' %}

{% block javascripts %}
    <script src="//vk.com/js/api/xd_connection.js?2" type="text/javascript"></script>
    <script type="text/javascript" src="//ad.mail.ru/static/vkadman.min.js"></script>
    <script type="text/javascript" src="//js.appscentrum.com/scr/preroll.js"></script>
    <script src="{{ asset('js/game-vk-min.js') }}"></script>
{% endblock %}